# --- Environnements ---
.env
.env.*
!.env.example

# --- Dossiers de build ---
.nuxt
.output
.vercel
.vercel/output
.cache
dist
node_modules

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# --- IDE / Éditeurs ---
.vscode
.idea
.DS_Store

# --- Système ---
Thumbs.db
