.theme-tab {
  &.v-tabs {
    width: fit-content;
    .v-tab {
      border-radius: $border-radius-root !important;
      min-width: auto !important;
      width: fit-content;
      &.v-slide-group-item--active {
        background: rgb(var(--v-theme-primary));
      }
    }
  }
}
