.authentication {
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    left: 0;
    top: 0;
    bottom: 0;
    background: radial-gradient(rgb(210, 241, 223), rgb(211, 215, 250), rgb(186, 216, 244)) 0% 0% /
      400% 400%;
  }

  .auth-header {
    position: absolute;
    top: 0;
    left: 0;
  }

  .boxed-auth-wrap {
    margin: 0 auto;
    max-width: 450px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -125px;
      bottom: -100px;
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background-color: rgb(var(--v-theme-error));
    }

    &::after {
      content: '';
      position: absolute;
      top: -65px;
      right: -104px;
      width: 200px;
      height: 207px;
      background: url('@/public/images/backgrounds/flutter.png');
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 0;
    }
  }

  @media screen and (max-width: 1280px) {
    .auth-header {
      position: unset;
    }
  }
}

.verification {
  .v-field__input {
    text-align: center;
  }
}

.auth-divider {
  span {
    z-index: 1;
  }

  &::before {
    position: absolute;
    width: 100%;
    border-top: thin solid rgb(var(--v-theme-borderColor));
    top: 50%;
    content: '';
    transform: translateY(50%);
    left: 0;
  }

  &::after {
    position: absolute;
    width: 100%;
    border-top: thin solid rgb(var(--v-theme-borderColor));
    top: 50%;
    content: '';
    transform: translateY(50%);
    right: 0;
  }
}

@media (min-width: 1536px) {
  .auth {
    .v-col-lg-7 {
      flex: 0 0 66.66%;
      max-width: 66.66%;
    }

    .v-col-lg-5 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .mh-100 {
    height: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .mw-100 {
    width: 100%;
    padding: 0 15px;
  }
}

.authpage {
  .v-application__wrap {
    display: block;
  }

  .login-app-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .auth-login {
    margin: 0 auto;
    width: 100%;
    display: flex !important;
    overflow: hidden;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 0 !important;
    border-radius: unset !important;

    .auth-login-wrapper {
      box-shadow: 0 2px 30px 15px rgba(37, 83, 185, 0.1);
      z-index: 2;

      &::before {
        content: '';
        position: absolute;
        left: -125px;
        bottom: -100px;
        width: 427px;
        height: 417px;
        border-radius: 100%;
        background-color: var(--manie-primary);
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 999;
        top: -70px;
        right: -75px;
        width: 404px;
        height: 405px;
        background-color: var(--manie-thirdy);
        border-radius: 100%;
      }
    }
  }
}

.nopage {
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}
